<ion-view ng-controller="DetailCtrl">
    <ion-header-bar class="bar bar-header bar-dark"><a class="button button-icon ion-ios-arrow-back"
            ui-sref="tabs.home">{{shareData.local[shareData.lang]['back']}}</a>
        <div class="button button-icon ion-happy-outline" ng-if="shareData.langJa"
            ng-click="shareData.changeLang()"></div>
    </ion-header-bar>
    <ion-content class="padding">

        <div class="detail-flag" ng-click="shareData.flagging(shareData.detail[0].meddra, $event)">
            <a><i class="button button-clear icon"
                    ng-class="{'color-checkmark ion-ios-checkmark': shareData.flags[shareData.detail[0].meddra], 'ion-ios-circle-outline': !shareData.flags[shareData.detail[0].meddra]}"></i></a>
        </div>
        <h4 class="padding" ng-bind-html="shareData.encode(shareData.detail[0], 'term') | highlight:shareData.search">
        </h4>
        <div class="expandable-content">
            <div class="grades">
                <div class="row">
                    <div class="col">
                        <div class="grade-header">Grade 1</div>
                        <div class="grade-content"
                            ng-bind-html="shareData.encode(shareData.detail[0], 'g1')| highlight:shareData.search">
                        </div>
                    </div>
                    <div class="col">
                        <div class="grade-header">Grade 2</div>
                        <div class="grade-content"
                            ng-bind-html="shareData.encode(shareData.detail[0], 'g2') | highlight:shareData.search">
                        </div>
                    </div>
                    <div class="col">
                        <div class="grade-header">Grade 3</div>
                        <div class="grade-content"
                            ng-bind-html="shareData.encode(shareData.detail[0], 'g3') | highlight:shareData.search">
                        </div>
                    </div>
                    <div class="col">
                        <div class="grade-header">Grade 4</div>
                        <div class="grade-content"
                            ng-bind-html="shareData.encode(shareData.detail[0], 'g4') | highlight:shareData.search">
                        </div>
                    </div>
                    <div class="col">
                        <div class="grade-header">Grade 5</div>
                        <div class="grade-content"
                            ng-bind-html="shareData.encode(shareData.detail[0], 'g5') | highlight:shareData.search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="notes">
                <div><b>SOC: </b><span style="text-transform:uppercase"
                        ng-bind-html="shareData.encode(shareData.detail[0], 'soc') | highlight:shareData.search"></span>
                </div>
                <div><b>{{shareData.local[shareData.lang]['def']}}: </b><span
                        ng-bind-html="shareData.encode(shareData.detail[0], 'def') | highlight:shareData.search"></span>
                </div>
                <div><b>{{shareData.local[shareData.lang]['nav']}}: </b><span
                        ng-bind-html="shareData.encode(shareData.detail[0], 'nav') | highlight:shareData.search"></span>
                </div>
                <div><b>MedDRA: </b><span ng-bind-html="shareData.detail[0].meddra | highlight:shareData.search"></span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>