<ion-view ng-controller="InfoCtrl">
    <ion-header-bar class="bar-dark"><a class="button button-icon ion-ios-arrow-back" ui-sref="tabs.info"></a>
        <h1 class="title about">
            {{(shareData.langJa ? termlang : !termlang) ? 'Install / Uninstall' : 'インストール / アンインストール'}}</h1>
        <div class="button button-icon ion-happy-outline" ng-click="termlang = !termlang"></div>
    </ion-header-bar>
    <ion-content>
        <div class="padding" style="background-color:#fff;padding-bottom:30px">
            <h4>{{(shareData.langJa ? termlang : !termlang) ? 'Recommended Browsers' : '推奨するブラウザ'}}</h4>
            <ul class="padding-left" style="list-style:inside">
                <li>Chrome 70 {{(shareData.langJa ? termlang : !termlang) ? 'or higher' : 'もしくは それ以降'}}</li>
                <li>Safari 12 {{(shareData.langJa ? termlang : !termlang) ? 'or higher' : 'もしくは それ以降'}}</li>
                <li>Microsoft Edge 17 {{(shareData.langJa ? termlang : !termlang) ? 'or higher' : 'もしくは それ以降'}}</li>
                <li>Firefox 63 {{(shareData.langJa ? termlang : !termlang) ? 'or higher' : 'もしくは それ以降'}}</li>
            </ul>
        </div>
        <div class="padding">
            <h4>{{(shareData.langJa ? termlang : !termlang) ? 'Install' : 'インストール'}}</h4>
            <div style="text-align:center;padding:40px;background:#fff;width:200px"><img
                    alt="https://oncohub.github.io/ctcae5/" src="images/barcode.gif">
            </div>
        </div>
        <div class="padding" style="background-color:#fff;padding-bottom:30px">
            <div ng-if="shareData.langJa ? termlang : !termlang">
                <h5>iOS / iPhone (<a ng-click="movieopen = !movieopen" ng-bind="movieopen ? 'hide' : 'show'"></a> movie)
                </h5>
                <div ng-if="movieopen" class="padding" style="padding: 10px 40px">
                    <!--
                <img width="240px" src="https://oncohub.github.io/ctcae5/images/movie.png" />
                -->
                    <video width="120px" src="https://oncohub.github.io/ctcae5/images/movie.mp4" controls muted
                        poster="images/poster.png"></video>
                </div>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Scan the barcode above or go to the website <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>.</li>
                    <li>Tap the Share button <i class="icon ion-ios-upload-outline"></i> .</li>
                    <li>From the options, tap the 'Add to Homescreen'. </li>
                    <li>You can notice an icon of 'CTCAE 5.0'
                        added to your devices homescreen.</li>
                    <li>Tap the icon from homescreen, then 'CTCAE 5.0' will be loaded.</li>
                </ol>
                <h5>Android</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Scan the barcode above or go to the website <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>.</li>
                    <li>You can see a Add to Home screen prompt from the bottom of screen.
                    </li>
                    <li>If not, tap the menu button and then select 'Homescreen' option.
                    </li>
                    <li>You can notice an icon of 'CTCAE 5.0' added to your devices
                        homescreen.</li>
                    <li>Tap the icon from homescreen, then 'CTCAE 5.0' will be loaded.</li>
                </ol>
                <h5>MacOS - Chrome</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Go to the website <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>.
                    </li>
                    <li>Reload the page.</li>
                    <li>Tap the Options button and select the Install CTCAE 5.0.</li>
                    <li>Then, you can see a new app in the 'user_name/Application/Chrome Apps' folder.</li>
                </ol>
                <h5>MacOS - Safari</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Go to the website <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>.
                    </li>
                    <li>Add <a href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a> to
                        bookmark.
                        <b>[NOTE]</b> Please make sure the URL (not containing 'index.html', '#/tab/home' or other
                        strings).
                    </li>
                    <li>Launch from the bookmark.</li>
                </ol>
                <h5>Windows 10</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Go to the website <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>.
                    </li>
                    <li>Tap the more options button.</li>
                    <li>Tap the Pin to Start option, then you can notice an icon of 'CTCAE 5.0' added to your Start
                        Menu.</li>
                    <li>Tap the icon from the Start Menu, then 'CTCAE 5.0' will be loaded.</li>
                </ol>
            </div>
            <div ng-if="shareData.langJa ? !termlang : termlang">
                <h5>iOS / iPhone (ムービーを<a ng-click="movieopen = !movieopen" ng-bind="movieopen ? '閉じる' : '開く'"></a>)
                </h5>
                <div ng-if="movieopen" class="padding" style="padding: 10px 40px">
                    <!--
                <img width="240px" src="https://oncohub.github.io/ctcae5/images/movie.png" />
                -->
                    <video width="120px" src="https://oncohub.github.io/ctcae5/images/movie.mp4" controls muted
                        poster="images/poster.png"></video>
                </div>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>上記のバーコードをスキャンするかブラウザに直接 <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>
                        を入力し、ウェブページを表示する。</li>
                    <li>シェアボタン <i class="icon ion-ios-upload-outline"></i> をタップする。</li>
                    <li>オプションから「ホーム画面へ追加」を選択肢する。</li>
                    <li>ホーム画面に作成された「CTCAE 5.0」アイコンを見つけ、タップする。</li>
                </ol>
                <h5>Android</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>上記のバーコードをスキャンするかブラウザに直接 <a
                            href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>
                        を入力し、ウェブページを表示する。</li>
                    <li>「ホーム画面へ追加」プロンプトをタップする。</li>
                    <li>プロンプトが出ない場合には、メニューポタから、「ホーム画面へ追加」を選択する。</li>
                    <li>ホーム画面に作成された「CTCAE 5.0」アイコンを見つけ、タップする。</li>
                </ol>
                <h5>MacOS - Chrome</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>ブラウザに直接 <a href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>
                        を入力し、ウェブページを表示する。
                    </li>
                    <li>ページをリロードする。</li>
                    <li>オプションより「CTCAE 5.0をインストールする」を選択する。</li>
                    <li>[ユーザ]/アプリケーション/Chrome アプリ フォルダに作成された「CTCAE 5.0」アイコンを見つけ、クリックする。</li>
                </ol>
                <h5>MacOS - Safari</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>ブラウザに直接 <a href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>
                        を入力し、ウェブページを表示する。
                    </li>
                    </li>
                    <li>ブックマークに <a href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a> を追加する。
                        <b>[注意]</b> URLに上記以外の文字（例えば、'index.html'、'#/tab/home'など）を含まないようにする。
                    </li>
                    <li>登録したブックマークを選択する。</li>
                </ol>
                <h5>Windows 10</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>ブラウザに直接 <a href="https://oncohub.github.io/ctcae5/">https://oncohub.github.io/ctcae5/</a>
                        を入力し、ウェブページを表示する。
                    </li>
                    <li>オプションより、「スタートにピン留めする」を選択する。</li>
                    <li>スタートメニューに作成された「CTCAE 5.0」アイコンを見つけ、タップする。</li>
                </ol>
            </div>
        </div>
        <div class="padding">
            <h4>{{(shareData.langJa ? termlang : !termlang) ? 'Uninstall' : 'アンインストール'}}</h4>
        </div>
        <div class="padding" style="background-color:#fff;padding-bottom:30px">
            <div ng-if="shareData.langJa ? termlang : !termlang">
                <div style="padding:16px 0">
                    <p><a ng-click="shareData.unregister()">Unregister the Service Worker and remove cache</a></p>
                </div>
                <h5>iOS (iPhone)</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Go to the Settings and tap on Safari.</li>
                    <li>Tap the Remove All Website Data.</li>
                </ol>
                <h5>Android</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Open Settings and select Storage.</li>
                    <li>Tap the Other Apps entry.</li>
                    <li>Choose an app.</li>
                    <li>On the app’s info page, tap the Clear Cache option.</li>
                </ol>
                <h5>MacOS - Chrome</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Tap the Options button and select the Uninstall CTCAE 5.0.</li>
                </ol>
                <h5>MacOS - Safari</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>In the Safari menu select Preferences.</li>
                    <li>In the Advanced section, toggle the Show Develop menu to activate.</li>
                    <li>Click on the Develop in the menu bar and select the Empty Caches.</li>
                    <li>Close the Safari browser.</li>
                </ol>
                <h5>Windows 10</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Click the icon with three horizontal dots in the top right of the window to open the More menu.
                    </li>
                    <li>Click the button that says “Choose what to clear”.</li>
                    <li>Toggle the check boxes to delete.</li>
                    <li>Then clear.</li>
                </ol>
            </div>
            <div ng-if="shareData.langJa ? !termlang : termlang">
                <div style="padding:16px 0">
                    <p><a ng-click="shareData.unregister()">Service Worker の登録を解除し、キャッシュを削除</a>する。</p>
                </div>
                <h5>iOS (iPhone)</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>「設定」 > 「Safari」を選ぶ。</li>
                    <li>「履歴とWebサイトデータを消去」する。</li>
                </ol>
                <h5>Android</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>「設定」 > 「アプリと通知」を選ぶ。</li>
                    <li>「〇〇個のアプリをすべて表示」する。 </li>
                    <li>「CTCAE 5.0」を選ぶ。</li>
                    <li>「ストレージ」 > 「キャッシュを削除」を選ぶ。</li>
                </ol>

                <h5>MacOS - Chrome</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>オプションから、「CTCAE 5.0をアンインストール」する。</li>
                </ol>
                <h5>MacOS - Safari</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>Safariのメニューの「環境設定」を選ぶ。</li>
                    <li>詳細タブから「メニューバーに"開発"メニューを表示」を選ぶ。</li>
                    <li>メニューバーの「開発」から「キャッシュを空にする」を選ぶ</li>
                </ol>
                <h5>Windows 10</h5>
                <ol class="padding-left" style="list-style:outside decimal;padding-left:30px">
                    <li>オプションから「設定」を選ぶ。
                    </li>
                    <li>「クリアするデータの選択」する。
                    </li>
                    <li>「Cookieと保存済みのWebサイトデータ」と「キャッシュされたデータとファイル」をチェックし、「クリア」する。
                    </li>
                </ol>
            </div>
        </div>
    </ion-content>
</ion-view>