<ion-view  ng-controller="InfoCtrl">
    <ion-header-bar class="bar-dark"><a class="button button-icon ion-ios-arrow-back" ui-sref="tabs.info"></a>
        <h1 class="title about">{{(shareData.langJa ? termlang : !termlang) ? 'Licenses and Terms' : 'ライセンスと規約'}}</h1>
        <div class="button button-icon ion-happy-outline"
        ng-click="termlang = !termlang"></div>
    </ion-header-bar>
    <ion-content class="single-page-white">
        <div class="padding about">
            <div ng-if="shareData.langJa ? termlang : !termlang">
            <h4 id="toc_0">LICENSES AND TERMS</h4>
            <p>Last Updated: 30 May 2020</p>
            <ul>
                <li>CTCAE 5.0 PWA - an easy way to browse Common Terminology Criteria for Adverse Events (CTCAE) 5.0</li>
            </ul>
            <div class="padding-top padding-bottom">
                <p>Copyright &copy; 2020 Koichiro Watanabe</p>
                <p><strong>PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS SITE. BY ACCESSING THIS SITE, YOU AGREE
                        TO BE BOUND BY THESE TERMS. IF YOU DO NOT AGREE TO THE TERMS, PLEASE DO NOT USE THE
                        SITE.</strong></p>
                <p>Permission is hereby granted, free of charge,
                    to any person obtaining a copy of this software and associated documentation files (the "Software"),
                    to deal in the Software without limitation the rights to use and copy the Software, and to permit
                    persons to whom the Software is furnished to do so, subject to the following conditions:</p>
                    <ul class="padding-bottom">
                        <li>The above copyright notice and this permission notice shall be included in all copies or substantial
                            portions of the Software.</li>
                            <li>The Software is available only for educational use.</li>
                            <li>Licensee shall not modify, distribute, publish, sell, or make available Licensed Products without a
                                prior written agreement.</li>
                    </ul>
                <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
                    LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
                    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
                    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
            </div>
        </div>
        <div ng-if="shareData.langJa ? !termlang : termlang">
            <h4 id="toc_0">ライセンスと規約</h4>
            <p>2020年5月30日更新</p>
            <ul>
                <li>CTCAE 5.0 PWA - 有害事象共通用語規準 v5.0オリジナル版/日本語訳JCOG版の閲覧用ウェブアプリケーション</li>
            </ul>
            <div class="padding-top padding-bottom">
                <p>Copyright &copy; 2020 Koichiro Watanabe</p>
                <p><strong>このサイトを使用する前に以下の規約をお読みください。このサイトにアクセスするためには、それら規約に同意する必要があります。同意できない場合には、ご使用をしないようにお願いします。</strong></p>
                <p>以下に定める条件に従い、本ソフトウェアおよび関連文書のファイル（以下「ソフトウェア」）の複製を取得するすべての人に対し、ソフトウェアを無制限に扱うことを無償で許可します。これには、ソフトウェアの複製を使用および/または複写する権利、およびソフトウェアを提供する相手に同じことを許可する権利も無制限に含まれます。</p>
                    <ul class="padding-bottom">
                        <li>上記の著作権表示および本許諾表示を、ソフトウェアのすべての複製または重要な部分に記載するものとします。</li>
                            <li>本ソフトウェアは、教育目的に限りご利用できます。</li>
                            <li>利用者は、事前の文書による同意なく変更、結合、掲載、頒布、サブライセンス、および/または販売できません。</li>
                    </ul>
                <p>ソフトウェアは「現状のまま」で、明示であるか暗黙であるかを問わず、何らの保証もなく提供されます。ここでいう保証とは、商品性、特定の目的への適合性、および権利非侵害についての保証も含みますが、それに限定されるものではありません。 作者または著作権者は、契約行為、不法行為、またはそれ以外であろうと、ソフトウェアに起因または関連し、あるいはソフトウェアの使用またはその他の扱いによって生じる一切の請求、損害、その他の義務について何らの責任も負わないものとします。</p>
            </div>
        </div>
        </div>

    </ion-content>
</ion-view>